$font-stack:    Helvetica, sans-serif;
$primary-color: red;
$secondary-color: aqua;


nav {
    text-align: center;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
 
  li { display: inline-block;vertical-align: middle;}

  a
  {
    text-align: center;
    display: inline-block ;
    //margin-left : 30%;
    padding: 15px 40px;
    text-decoration: none;
    color:$primary-color;
    background-color:$secondary-color;    
    align-items: center;
  }


}