$primary-color: red;
$font-stack:    Helvetica, sans-serif;
$secondary-color: aqua;
$colora: grey;
$colorb: rgb(18, 1, 93);
h1
{
    display: block;
    padding: 6px 10px;
    text-decoration: none;
    color:$colorb; 
    font-style: $font-stack;
    background-color:$colora;
    text-align: center;
}
form
{
    text-align: center;
}
div{
    text-align: center;
}
h2
{
    display: block;
    padding: 6px 8px;
    text-decoration: none;
    color:$colorb; 
    opacity: 0.8;
    font-style: $font-stack;
    background-color:$colora;
    text-align: center;
}