<h1>FEEDBACK</h1>
<form *ngIf="feedbackFormat" [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
    <p>
        <label>name:
            <input [(ngModel)]="feedbackFormat.name" type="text" formControlName="name" placeholder="name" >
        </label>
    </p>
    <p>
        <label>email:
            <input [(ngModel)]="feedbackFormat.email" type="text" placeholder="email" id="email" formControlName="email">
        </label>
    </p>
    <p>
        <label><p>feedback:</p>
            <input type="radio" [(ngModel)]="feedbackFormat.feedback" value="Great" formControlName="feedback"><label for="Great">Great</label><br>
            <input type="radio" [(ngModel)]="feedbackFormat.feedback" value="Okay" formControlName="feedback"><label for="Okay">Okay</label><br>
            <input type="radio" [(ngModel)]="feedbackFormat.feedback" value="Not good" formControlName="feedback"><label for="Not good">Not good</label>
        </label>
    </p>
    <p>
        <label>comment:
            <input [(ngModel)]="feedbackFormat.comment" type="text" placeholder="comment" id="comment" formControlName="comment">
        </label>
    </p>
    <p>
        <button type="submit">Submit</button>
    </p>
</form>
<h2>Feedback Given</h2>
<div *ngIf="feedbackFormat"><span>name: </span>{{feedbackFormat.name}}</div>
<div *ngIf="feedbackFormat"><span>email: </span>{{feedbackFormat.email}}</div>
<div *ngIf="feedbackFormat"><span>feedback: </span>{{feedbackFormat.feedback}}</div> 
<div *ngIf="feedbackFormat"><span>comment: </span>{{feedbackFormat.comment}}</div>